<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{geral/modelo}">
  <head>
    <title th:text="${produto.nome}">Nome do produto</title>
  </head>
  <div layout:fragment="conteudo">
    <div class="jumbotron">
      <div class="container">
        <h1>Hello, world!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>
    <div class="container">
      <div class="row">
	<div class="col-md-4">
	   <img src="./img/bolo1.png" th:src="@{/img/bolo1.png}" class="img-thumbnail">
	</div>
	<div class="col-md-8 well">
	  <h2 th:text="${produto.nome}">Produto</h2>
	  <p th:text="${produto.descricao}">Descrição do produto</p>
	  <h3 th:text="${#numbers.formatCurrency(produto.preco)}">R$ 99,99</h3>
	  <p>Categorias</p>
	  <ul th:each="c : ${produto.categorias}">
	    <li th:text="${c.nome}"></li>
	  </ul>
	  <p>Imagens</p>
	  <ul th:each="i : ${produto.imagens}">
	      <li th:text="${i.nomeArquivo}"></li>
	  </ul>
	  
	  <button type="button" class="btn btn-success btn-lg btn-block">
	    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 
	    <span th:text="#{acao.comprar}">Comprar</span></button>
	</div>
      </div>

    </div>
  </div>
</html>
