<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{geral/modelo}">
  <div layout:fragment="conteudo">
    <div class="jumbotron">
      <div class="container">
        <h1>Hello, world!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>
    <div class="container">
      <div class="row">
	<div class="col-md-6 col-lg-4 well" th:each="p : ${itens}">
	  <h2 th:text="${p.nome}">Produto</h2>
	  <img src="./img/bolo1.png" th:src="@{/img/bolo1.png}" class="img-thumbnail">
	  <h3 th:text="${#numbers.formatCurrency(p.preco)}">R$ 99,99</h3>
	  <a href="#" role="button"
	     th:href="@{/compra/adicionar/{id}(id=${p.id})}"
	     class="btn btn-success btn-lg btn-block">
	    <span class="glyphicon glyphicon-ok" aria-hidden="true">
	    </span> <span th:text="#{acao.comprar}">Comprar</span>
	  </a>

	  <a href="#" role="button" 
	     th:href="@{/produto/{id}(id=${p.id})}" 
	     class="btn btn-info btn-lg btn-block">
	    <span class="glyphicon glyphicon-info-sign" aria-hidden="true">
	    </span> <span th:text="#{acao.vermais}">Ver mais</span>
	  </a>
	</div>
      </div>
    </div>
  </div>
</html>
