<!DOCTYPE html>
<html>
  <head>
    <title>TODO supply a title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script>
      // 6) AJAX
      $(function () {
	$("#botao").click(function (ev) {
	  $.ajax({
	    method: "GET",
	    url: "/rest/produto/1",
	    dataType: "json"
	  }).done(function (dataJSON) {
	    var htmlDom = "<section class=\"info\"><h2>Dados do produto</h2><ul>" +
		    "<li>ID: " + dataJSON.id + "</li>" +
		    "<li>Nome: " + dataJSON.nome + "</li>" +
		    "<li>Descricao: " + dataJSON.descricao + "</li>" +
		    "<li>Categorias:<ul>";
	    if (dataJSON.categorias) {
	      for (var i = 0; i < dataJSON.categorias.length; i++) {
		htmlDom = htmlDom + "<li>" + dataJSON.categorias[i].nome + "</li>";
	      }
	    }
	    htmlDom = htmlDom + "</ul></li></ul></section>";
	    $("#resultado").html(htmlDom);
	  }).fail(function (data) {
	    alert("Erro");
	  });
	});
      });
    </script>
  </head>
  <body>
    <h1>Exemplos Spring security</h1>
    <ul>
      <li>Opção 1</li>
      <li>Opção 2</li>
      <li>Opção 3</li>
      <li sec:authorize="hasRole('ROLE_FODAO')"><a th:href="@{/gerenciamento/produto}">Cadastrar produto</a></li>
      <li sec:authorize="hasRole('ROLE_GOD')">Só para mestres</li>
    </ul>
    <div>
      <button id="botao" type="button">Carregar dados</button>
      <div id="resultado"></div>
    </div>
  </body>
</html>
