<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{geral/modelo}">
  <div layout:fragment="conteudo">
    <div class="jumbotron">
      <div class="container">
        <h1>Hello, world!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>
    <div class="alert alert-success" role="alert" th:if="${mensagem != null}">
      <h3 th:text="${mensagem}"></h3>
    </div>
    <div class="container">
      <table class="table table-stripped">
	<thead>
	  <tr>
	    <th>ID</th>
	    <th>Nome</th>
	    <th>Preço</th>
	  </tr>
	</thead>
	<tbody>
	  <tr th:each="p : ${@compraController.carrinho}">
	    <td th:text="${p.id}">1</td>
	    <td th:text="${p.nome}">Teste</td>
	    <td th:text="${#numbers.formatCurrency(p.preco)}"></td>
	  </tr>
	</tbody>
      </table>
    </div>

  </div>
</html>
